<%= form_for(@team) do |f| %> 
    <%= f.label "Create a New Team" %> 
    <%= f.text_field :teamname %> <br>
    <%= f.label :city %>
    <%= f.text_field :city %> <br>
    <%= f.label :sport %>
    <%= f.select(:sport, ["Baseball", "Basketball", "Football"]) %> <br>
    <%= f.fields_for :fan_teams do |ft| %>
        <%= ft.label "Are you a Die Hard Fan?" %>
        <%= ft.check_box :die_hard_fan %> <br>
        <%= ft.hidden_field :fan_id, :value => current_fan.id %>
    <% end %>
    <%= f.submit %>
    <% end %>
    <% @team.errors.full_messages.each do |m| %>
        <div class="errors" >
        <%= m %> <br>
        </div>
    <% end %>
    
    