<div class="my_teams">
<h1><%= @team.city %> <%= @team.teamname %></h1>
<h2>Sport: <%= @team.sport %></h2>
<h2>Number of Total Fans: <%= @team.fans.count %> </h2>
<h2>Number of Total Players: <%= @team.players.count %> </h2>
<%= link_to "View Players Currently Added on This Team", team_players_path(@team)%> <br>
<%= link_to "Add a Player From This Team", new_team_player_path(@team)%> <br>
<% if current_fan && current_fan.teams.ids.include?(params[:id].to_i) %>
<%= link_to "Remove Team from your Fan List", team_fanteam_path(@team), method: :delete %>
<% else %>
<%= link_to "Become a fan of this team!", new_team_fanteam_path(@team) %>
<% end %>
</div>