<div class = "index">
<div class = "fandom">
<h1>Welcome to Fandom!</h1>
</div>
<%= image_tag("lebron.jpg", size: "200x150")%><%= image_tag("clay.jpg", size: "200x150")%><%= image_tag("baseball.jpg", size: "200x150")%>
<h2>Fans come from far and wide to unite here on Fandom. Represent your favorite teams. Research the teams with the most fans.</h2>
<h2>If your team doesn't exist, create it through 'Add a Team'.</h2>
<h2>Add Players to their Teams, or Join a team through their Team Page.</h2>
<div class="teams-list">
<div class="basketball">
<h3>Basketball Teams on Fandom:</h3>
</div>
<% Team.basketball_teams.each do |team| %>
    <% if my_diehard_teams.include?(team) %>
        <div class = "diehard">
            <%= team.city %> <%= team.teamname %> |  Fan Count <%= team.fans.count %> <%= link_to "#{team.teamname} Page", team_path(team) %> <br>
        </div>
    <% else %>
        <%= team.city %> <%= team.teamname %> |  Fan Count <%= team.fans.count %> <%= link_to "#{team.teamname} Page", team_path(team) %> <br>
    <% end %>
<% end %>
<div class="football">
<h3>Football Teams on Fandom:</h3>
</div>
<% Team.football_teams.each do |team| %>
    <% if my_diehard_teams.include?(team) %>
        <div class = "diehard">
        <%= team.city %> <%= team.teamname %> |  Fan Count <%= team.fans.count %> <%= link_to "#{team.teamname} Page", team_path(team) %><br>
        </div>
        <% else %>
        <%= team.city %> <%= team.teamname %> |  Fan Count <%= team.fans.count %> <%= link_to "#{team.teamname} Page", team_path(team) %><br>
    <% end %>
<% end %>
<div class="baseball">
<h3>Baseball Teams on Fandom:</h3>
</div>
<% Team.baseball_teams.each do |team| %>
    <% if my_diehard_teams.include?(team) %>
    <div class = "diehard">
    <%= team.city %> <%= team.teamname %> |  Fan Count <%= team.fans.count %> <%= link_to "#{team.teamname} Page", team_path(team) %><br>
    </div>
    <% else %>
    <%= team.city %> <%= team.teamname %> |  Fan Count <%= team.fans.count %> <%= link_to "#{team.teamname} Page", team_path(team) %><br>
<% end %><% end %>
</div>
</div>