<h1> Welcome <%= current_fan.username %> </h1>
<div class = "basketball">
<h2> My Basketball Teams: </h2>
</div>
<% my_basketball_teams.each do |t| %>
    <h3> - <%= t.city %> <%= t.teamname %> <%= link_to "#{t.teamname} Page", team_path(t) %></h3>
<% end %>
<div class = "baseball">
<h2> My Baseball Teams: </h2>
</div>
<% my_baseball_teams.each do |t| %>
    <h3> - <%= t.city %> <%= t.teamname %> <%= link_to "#{t.teamname} Page", team_path(t) %></h3>
<% end %>
<div class = "football">
<h2> My Football Teams: </h2>
</div>
<% my_football_teams.each do |t| %>
    <h3> - <%= t.city %> <%= t.teamname %> <%= link_to "#{t.teamname} Page", team_path(t) %></h3>
<% end %>
<div class = "diehard">
<h2> My Die Hard Teams: </h2>
</div>
<% my_diehard_teams.each do |t| %>
    <h3> - <%= t.city %> <%= t.teamname %> <%= link_to "#{t.teamname} Page", team_path(t) %></h3>
<% end %>
